.div1-TabelasMarcasView {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2-TabelasMarcasView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 10px;
}

.div3-TabelasMarcasView {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border-radius: 15px;
}

.div4-TabelasMarcasView {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 10px;
}

.div5-TabelasMarcasView {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.typography-TabelasMarcasView {
    font-weight: bold;
    color: black
}

.div6-TabelasMarcasView {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}